<div class="login_main">
	<!-- Sign up form Start -->
	<section class="signup">
		<div class="container">
			<div class="signup-content clearfix">
				<div class="signup-form">
					<h2 class="form-title">Sign Up</h2>
					<form method="POST" class="register-form" id="register-form">
						<div class="form-group">
							<label>
								<i class="glyphicon glyphicon-user"></i>
							</label>
							<input type="text" name="firstname" id="firstname" placeholder="First Name" />
						</div>
						<div class="form-group">
							<label>
								<i class="glyphicon glyphicon-user"></i>
							</label>
							<input type="text" name="lastname" id="lastname" placeholder="Last Name" />
						</div>
						<div class="form-group">
							<label>
								<i class="glyphicon glyphicon-envelope color-blue"></i>
							</label>
							<input type="email" name="email" id="email" placeholder="Email Address" />
						</div>
						<div class="form-group">
							<label>
								<i class="glyphicon glyphicon-earphone"></i>
							</label>
							<input type="tel" name="pass" id="pass" placeholder="Phone Number" />
						</div>
						<div class="form-group form-button">
							<input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
						</div>
					</form>

					<div class="sign_up">
						<p>Already have an account?
							<a [routerLink]="[ '/', 'login' ]"> Login Now</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Sign up form Ebds -->
</div>