Hello Mate welcome to postGrad please follow these following points.

--------------------------------------------------------------------------------------------------------------
A.Dependencies Required to run application on local:
1.XAMPP (Apache-mysql)
2.NODEJS (npm)
3.NETBEANS (ide)
4.

--------------------------------------------------------------------------------------------------------------
B.Clone Instructions:
1.Git link:  https://github.com/wahd6/postgrad.git
2.
--------------------------------------------------------------------------------------------------------------
A.Installation Instructions:
1.			cd /xampp/htdocs/postgrad/postGrad-Frontend/
2.			ng serve -o
3.                      npm install -g @angular/cli

--------------------------------------------------------------------------------------------------------------
B.Angular-commands 
ng build --prod --base-href="http://phpstack-164891-641603.cloudwaysapps.com/"
ng build --prod --base-href="http://localhost/postgrad/projectFrontEnd/dist/projectFrontEnd/"
ng build --prod
ng new projectFrontEnd --style=scss --routing
ng serve
ng generate component comp-name
--------------------------------------------------------------------------------------------------------------
















--------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------