<!-- Header starts here -->
<router-outlet name="header"></router-outlet>
<!-- Header starts here -->


<!-- Bread crumb starts here -->
<!-- <breadcrumb></breadcrumb> -->
<!-- Bread crumb starts here -->


<!-- Content starts here -->
<!-- <div class=" container-fluid" id="setHeight"> -->
<!-- <div class="wrapper"> -->
    <router-outlet></router-outlet>
<!-- </div> -->
<!-- </div> -->
<!-- Content starts here -->


<!-- Footer starts here -->
<router-outlet name="footer"></router-outlet>
<!-- Footer starts here -->



<!-- Older version -->
<!-- <router-outlet></router-outlet>  -->