<!-- Student Profile Starts Here -->
<section class="student_profile">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-4 col-xs-12">
        <div class="student_profile_left">
          <div class="heading">
            <h2>My Details</h2>
            <button class="btn edit">Edit</button>
          </div>
          <div class="photo_block clearfix">
            <div class="photo_block_left">
              <img src="assets/images/img.png" alt="img">
            </div>
            <div class="photo_block_right">
              <h4>Files must be:</h4>
              <ul>
                <li>
                  <p>Less then 2 MB</p>
                </li>
                <li>
                  <p>In png or jpg format</p>
                </li>
                <li>
                  <p>Larger then 80x80 pixels</p>
                </li>
              </ul>
              <div class="file-field">
                <div class="btn btn-sm float-left">
                  <span>Update Image</span>
                  <input type="file" multiple>
                </div>
              </div>
            </div>
          </div>
          <div class="form_section">
            <form action="/action_page.php">
              <div class="form-group col-sm-6 col-xs-12">
                <label for="text">Frist Name:</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <label for="text">Last Name:</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea2">I Live In:</label>
                <select class="form-control" id="sel1">
                  <option>Melbourne</option>
                  <option>Montreal</option>
                  <option>Paris</option>
                  <option>London</option>
                  <option>Seoul</option>
                  <option>Tokyo</option>
                  <option>Boston</option>
                  <option>Berlin</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="profile_right col-sm-8 col-xs-12">
        <p>*Indicates required</p>
        <a class="next_btn" href="my-interests.html">Next</a>
        <!-- Current Qualification Start Here -->
        <div class="info_list clearfix">
          <h2>Current Qualification</h2>
          <ul class="list_items">
            <li>
              <label class="info_list_checkbox">Bachelor's degree
                <input type="checkbox">
                <span class="checkmark">+</span>
              </label>
            </li>
            <li>
              <label class="info_list_checkbox">Master's degree
                <input type="checkbox">
                <span class="checkmark">+</span>
              </label>
            </li>
            <li>
              <label class="info_list_checkbox">MBA
                <input type="checkbox">
                <span class="checkmark">+</span>
              </label>
            </li>
            <li>
              <label class="info_list_checkbox">PhD
                <input type="checkbox">
                <span class="checkmark">+</span>
              </label>
            </li>
            <li>
              <label class="info_list_checkbox">Research
                <input type="checkbox">
                <span class="checkmark">+</span>
              </label>
            </li>
            <li>
              <label class="info_list_checkbox">Certificate/Diploma
                <input type="checkbox">
                <span class="checkmark">+</span>
              </label>
            </li>
          </ul>
        </div>
        <!-- Current Qualification Ends Here -->

        <!-- Current Speciallsation Start Here -->
        <div class="info_list clearfix">
          <h2>Current Speciallsation</h2>
          <div class="tab_content_main" id="parentHorizontalTab">
            <ul class="resp-tabs-list hor_1 clearfix">
              <li>Engineering &
                <br> Technology</li>
              <li>Business &
                <br> Management</li>
              <li>Life Sciences &
                <br> Medicine</li>
              <li>Arts &
                <br> Humanities</li>
              <li>Social
                <br> Sciences</li>
              <li>Natural
                <br> Sciences</li>
            </ul>
            <div class="resp-tabs-container hor_1">
              <div class="tab_content clearfix">
                <p>Most Popular</p>
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">Bachelor's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Master's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">MBA
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">PhD
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Research
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Certificate/Diploma
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="tab_content clearfix">
                <p>Most Popular</p>
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">Master's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">MBA
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Bachelor's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">PhD
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Research
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Certificate/Diploma
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="tab_content clearfix">
                <p>Most Popular</p>
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">Bachelor's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Master's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">PhD
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">MBA
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Research
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Certificate/Diploma
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="tab_content clearfix">
                <p>Most Popular</p>
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">Bachelor's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Master's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">MBA
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">PhD
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Research
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Certificate/Diploma
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="tab_content clearfix">
                <p>Most Popular</p>
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">MBA
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Bachelor's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">PhD
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Master's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Certificate/Diploma
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Research
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="tab_content clearfix">
                <p>Most Popular</p>
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">Bachelor's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Master's degree
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">MBA
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">PhD
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Research
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">Certificate/Diploma
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Current Speciallsation Ends Here -->

        <!-- Current Location Start Here -->
        <div class="info_list clearfix">
          <h2>Current Location</h2>
          <div class="tab_content_main" id="parentHorizontalTab1">
            <ul class="resp-tabs-list hor_1 current_location clearfix">
              <li>North America</li>
              <li>Europe</li>
              <li>Asia & Australasia</li>
              <li>Middle East Africa</li>
              <li>Latin America</li>
            </ul>
            <div class="resp-tabs-container hor_1">
              <div class="tab_content clearfix">
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">Canada
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - ALL
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Northeast
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Middle Atlantic
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Midwest
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - South
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Southwest
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - West
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">North America All
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="tab_content clearfix">
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">Canada
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - ALL
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Northeast
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Middle Atlantic
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Southwest
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Midwest
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - South
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - West
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">North America All
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="tab_content clearfix">
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">Canada
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - ALL
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Northeast
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Middle Atlantic
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - West
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">North America All
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Midwest
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - South
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Southwest
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="tab_content clearfix">
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">Canada
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Northeast
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Middle Atlantic
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - ALL
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Midwest
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - South
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Southwest
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">North America All
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - West
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="tab_content clearfix">
                <ul class="list_items">
                  <li>
                    <label class="info_list_checkbox">Canada
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Middle Atlantic
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - ALL
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Midwest
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - South
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Northeast
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - Southwest
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">USA - West
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                  <li>
                    <label class="info_list_checkbox">North America All
                      <input type="checkbox">
                      <span class="checkmark">+</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Current Speciallsation Ends Here -->

      </div>
    </div>
  </div>
</section>
<!-- Student Profile Ends Here -->




<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="js/easyResponsiveTabs.js"></script>  
<script type="text/javascript">
  $(document).ready(function() {
    $(window).scroll(function() {
      var sticky = $('.header'),
          scroll = $(window).scrollTop();
      if (scroll > 50) sticky.addClass('fixed');
      else sticky.removeClass('fixed');
      });

    $('#parentHorizontalTab').easyResponsiveTabs({
        type: 'default', //Types: default, vertical, accordion
        width: 'auto', //auto or any width like 600px
        fit: true, // 100% fit in a container
        tabidentify: 'hor_1', // The tab groups identifier
        activate: function(event) { // Callback function if tab is switched
            var $tab = $(this);
            var $info = $('#nested-tabInfo');
            var $name = $('span', $info);
            $name.text($tab.text());
            $info.show();
        }
    });
    $('#parentHorizontalTab1').easyResponsiveTabs({
        type: 'default', //Types: default, vertical, accordion
        width: 'auto', //auto or any width like 600px
        fit: true, // 100% fit in a container
        tabidentify: 'hor_1', // The tab groups identifier
        activate: function(event) { // Callback function if tab is switched
            var $tab = $(this);
            var $info = $('#nested-tabInfo');
            var $name = $('span', $info);
            $name.text($tab.text());
            $info.show();
        }
    });
    
  });   
</script>
