
  <!-- Header Starts Here -->
  <header class="header">
    <div class="container-fluid">
      <div class="logo clearfix">
        <a href="index.html" class="logo-img">
          <img src="assets/images/postgard-logo.png" width="180" alt="img">
        </a>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>

      <nav class="navbar navbar-default clearfix collapse" role="navigation" id="example-navbar-collapse">
        <div class="collapse navbar-collapse text-center">
          <ul class="nav navbar-nav" id="mainmenu">
            <li>
              <a href="index.html">My Information</a>
            </li>
            <li>
              <a href="my-interests.html">My Interests</a>
            </li>
            <li>
              <a href="#">My Career Progression </a>
            </li>
            <li>
              <a href="#">Career Explorer</a>
            </li>
            <li>
              <a href="#">My Interviews </a>
            </li>
            <li>
              <a href="#">My Profile </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="menu-overlay"></div>
  <!-- Header Ends Here -->